<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <!-- ICONOS  Y  MATERIALES -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
    />
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />

    <!-- CSS PROPIO -->
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body class="db">
    <div class="container">
      <!-- ASIDE -->
      <aside>
        <div class="top">
          <a href="dashboard.html">
            <div class="logo">
              <img src="../static/img/logo_python2.png" alt="Logo" />
              <h2>UpsoFull<span class="danger">StackDev</span></h2>
            </div>
            <div class="close" id="close-btn">
              <span class="material-symbols-sharp"> close </span>
            </div>
          </a>
        </div>

        <div class="sidebar">
          <a href="./dashboard.html" class="active" data-view="dashboard">
            <span class="material-symbols-sharp"> dashboard </span>
            <h3>Panel</h3>
          </a>
          <a href="" data-view="clients">
            <span class="material-symbols-sharp"> groups </span>
            <h3>Clientes</h3>
          </a>
          <a href="">
            <span class="material-symbols-sharp"> receipt_long </span>
            <h3>Facturas</h3>
          </a>
          <a href="./products.html" data-view="products">
            <span class="material-symbols-sharp"> inventory </span>
            <h3>Productos</h3>
          </a>
          <a href="">
            <span class="material-symbols-sharp"> design_services </span>
            <h3>Servicios</h3>
          </a>
          <a href="">
            <span class="material-symbols-sharp"> settings </span>
            <h3>Configuración</h3>
          </a>
          <a href="">
            <span class="material-symbols-sharp"> logout </span>
            <h3>Salir</h3>
          </a>
        </div>
      </aside>
      <!-- FIN ASIDE -->

      <!-- HEADER -->
      <header>
        <h1>Bienvenido Usuario</h1>

        <div class="search-wrapper">
          <input type="search" placeholder="Buscar" />
          <span class="material-symbols-sharp"> search </span>
        </div>
        <div class="user-wrapper">
          <img src="../static/img/logo_python2.png" alt="Logo" />
        </div>
      </header>
      <!-- FIN HEADER -->

      <!-- MAIN CONTENT -->
      <main>
        <h1>Panel de control</h1>

        <div class="date">
          <input type="date" />
        </div>

        <!-- VENTAS -->
        <div class="insights">
          <div class="day-sales">
            <div class="middle">
              <div class="left">
                <h3>Ventas Diarias</h3>
                <h1>$500.000</h1>
                <small>Últimas 24 horas</small>
              </div>
            </div>
            <span class="material-icons-sharp"> analytics </span>
          </div>

          <div class="month-sales">
            <div class="middle">
              <div class="left">
                <h3>Ventas Mensuales</h3>
                <h1>$13.500.000</h1>
                <small>Últimos 30 días</small>
              </div>
            </div>
            <span class="material-icons-sharp"> bar_chart </span>
          </div>

          <div class="product-sales">
            <div class="middle">
              <div class="left">
                <h3>Producto más vendido</h3>
                <h1>$2.500.000</h1>
                <small>Últimos 30 días</small>
              </div>
            </div>
            <span class="material-icons-sharp"> stacked_line_chart </span>
          </div>
        </div>
        <!-- FIN VENTAS -->

        <!-- TABLA DE CLIENTES -->
        <div class="table-wrapper">
          <h2>Clientes</h2>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>

            <tbody id="user-table"></tbody>
          </table>
          <a href="#">Ver todos</a>
        </div>
        <!-- FIN TABLA DE CLIENTES -->
      </main>
    </div>
  </body>

  <script type="module" src="../static/js/scripts/dashboard.js"></script>
</html>
